{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>HABITACIONES DISPONIBLES</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'habitaciones.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css" rel="stylesheet">
    </head>
<body>
    <section class="panel-usuarios mb-5">
        <table class="tabla-desktop">
            <tr>
                <th>Imágen</th>
                <th>Habitación</th>
                <th>Tipo</th>
                <th>Precio</th>
                <th>Ver</th>
            </tr>
            {% for habitacion in habitaciones_disponibles %}
            <tr>
                <td>
                    {% if habitacion.imagen %}
                        <img src="{{ habitacion.imagen.url }}" alt="Foto habitacion" class="foto-perfil">
                    {% else %}
                        Foto de perfil no disponible
                    {% endif %}
                </td>
                <td>{{ habitacion.numero }}</td>
                <td>{{ habitacion.tipo }}</td>
                <td>{{ habitacion.costo_base }}</td>
                <td><a href="/habitacion/{{ habitacion.numero }}/" class="btn">Ver</a></td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No se encontraron habitaciones con los criterios especificados.</td>
            </tr>
            {% endfor %}
        </table>

        <div class="tabla-mobile">
            <div class="fila">
                {% for habitacion in habitaciones_disponibles %}
                <div class="columna">
                    <div class="header">Imágen</div>
                    <div class="contenido">
                    {% if habitacion.imagen %}
                        <img src="{{ habitacion.imagen.url }}" alt="Foto de perfil" class="foto-perfil">
                    {% else %}
                        Foto de perfil no disponible
                    {% endif %}
                    </div>
                </div>
                <div class="columna">
                    <div class="header">Habitación</div>
                    <div class="contenido">{{ habitacion.numero }}</div>
                </div>
                <div class="columna">
                    <div class="header">Tipo</div>
                    <div class="contenido">{{ habitacion.tipo }}</div>
                </div>
                <div class="columna">
                    <div class="header">Precio</div>
                    <div class="contenido">{{ habitacion.costo_base }}</div>
                </div>
                <div class="columna">
                    <div class="header">Ver</div>
                    <div class="contenido"><a href="/habitacion/{{habitacion.numero}}/" class="btn">Ver</a></div>
                </div>
                <br>
                {% endfor %}
            </div>
        </div>
    </section>
    
</body>
</html>