{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Habitaciones Disponibles</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'habitaciones.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body class="">
    <header class="header-s">
        <a href="/signout" class="enlace-1"><i class="ri-logout-box-line"></i> Cerrar sesión</a>
        <a href="{% url 'profile' %}"><button class="btn">Perfil</button></a>
    </header>

    <div class="banner">
        <h1>Habitaciones</h1>
    </div>

    <section class="section__container booking__container mt-5">
        <form action="/" class="booking__form">
            <div class="input__group">
                <span><i class="ri-calendar-2-fill"></i></span>
                <div>
                    <label for="fechaInicio">FECHA-INGRESO</label>
                    <input type="text" placeholder="AAAA-MM-DD" id="fechaInicio" name="fechaInicio"/>
                </div>
            </div>

            <div class="input__group">
                <span><i class="ri-calendar-2-fill"></i></span>
                <div>
                    <label for="fechaFin">FECHA-SALIDA</label>
                    <input type="text" placeholder="AAAA-MM-DD" id="fechaFin" name="fechaFin"/>
                </div>
            </div>

            <div class="input__group">
                <span><i class="ri-money-dollar-circle-fill"></i></span>
                <div>
                    <label for="rangoPrecio">RANGO-PRECIO</label>
                    <input type="number" placeholder="Ingresar precio" />
                </div>
            </div>

            <div class="input__group">
                <span><i class="ri-hotel-fill"></i></span>
                <div>
                    <label for="personas">TIPO-HABITACION</label>
                    <select class="form-control" name="tipo" id="tipo" required>
                        {% for tipo_habitacion in tipos_habitacion %}
                        <option value="{{ tipo_habitacion.id }}" {% if tipo_habitacion.id == habitacion.tipo.pk %}selected{% endif %}>{{ tipo_habitacion.tipo }}</option>
                        {% endfor %}
                    </select>
                  <!-- <input type="text" placeholder="Ingresar personas" /> -->
                </div>
              </div>

            <div class="input__group input__btn">
            <button class="btn">COMPROBAR</button>
            </div>
        </form>
    </section>

    <main class="container mt-4">
        <table class="table">
            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>Habitación</th>
                    <th>Tipo</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
                {% for habitacion in habitaciones_disponibles %}
                    <tr>
                        <td>{% if habitacion.imagen %}
                                <img style="max-width: 30%;" src="{{ habitacion.imagen.url }}" alt="Imagen de la habitación">
                            {% else %}
                                <p>No hay imagen disponible</p>
                            {% endif %}</td>
                        <td>{{ habitacion.numero }}</td>
                        <td>{{ habitacion.tipo }}</td>
                        <td>{{ habitacion.costo_base }}</td>
                        <td><a href='/habitacion/{{habitacion.numero}}/' class="btn btn-primary">Ver</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>

</body>
</html>