<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Habitaciones Disponibles</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body class="bg-light">
    <header class="bg-dark text-white text-center py-3">
        <h1>Habitaciones Disponibles</h1>
    </header>
    <nav class="navbar navbar-dark bg-dark">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link text-white" href="/">Cerrar sesión</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'reservas_x_usuario' documento=documento_usuario %}">Tus reservas</a>
            </li>
        </ul>
    </nav>
    <main class="container mt-4">
        <form class="mb-3">
            <div class="form-group">
                <label for="fechaInicio">Fecha de Inicio:</label>
                <input type="date" class="form-control" id="fechaInicio" name="fechaInicio">
            </div>
            <div class="form-group">
                <label for="fechaFin">Fecha de Fin:</label>
                <input type="date" class="form-control" id="fechaFin" name="fechaFin">
            </div>
            <div class="form-group">
                <label for="precioMin">Precio Mínimo:</label>
                <input type="number" class="form-control" id="precioMin" name="precioMin">
            </div>
            <div class="form-group">
                <label for="precioMax">Precio Máximo:</label>
                <input type="number" class="form-control" id="precioMax" name="precioMax">
            </div>
            <div class="form-group">
                <label for="tipo">Tipo:</label>
                <select class="form-control" name="tipo" id="tipo" required>
                    {% for tipo_habitacion in tipos_habitacion %}
                        <option value="{{ tipo_habitacion.id }}" {% if tipo_habitacion.id == habitacion.tipo.pk %}selected{% endif %}>{{ tipo_habitacion.tipo }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="button" class="btn btn-primary">Buscar 🚀</button>
        </form>

        <table class="table">
            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>Habitación</th>
                    <th>Tipo</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
                {% for habitacion in habitaciones_disponibles %}
                    <tr>
                        <td>{% if habitacion.imagen %}
                                <img style="max-width: 30%;" src="{{ habitacion.imagen.url }}" alt="Imagen de la habitación">
                            {% else %}
                                <p>No hay imagen disponible</p>
                            {% endif %}</td>
                        <td>{{ habitacion.numero }}</td>
                        <td>{{ habitacion.tipo }}</td>
                        <td>{{ habitacion.costo_base }}</td>
                        <td><a href='/habitacion/{{habitacion.numero}}/' class="btn btn-primary">Ver</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>

</body>
</html>