{% extends "base.html" %}

{% block title %}HABITACIONES{% endblock title %}

{% block content %}
<div class="col-md-12">
    <span><a href="/addnew_habitacion" class="btn btn-primary">Aregar habitacion</a></span>
    <span style="margin-right: 10px;"><a href="/crud_tipohabitacion" class="btn btn-primary">Ver Tipo habitaciones</a></span>
    <div class="table-responsive">
        <table id="bootstrapdatatable" class="table table-striped table-bordered" width="100%">
        <thead>
            <th>Numero</th>
            <th>Habitación</th>
            <th>Caracteristicas</th>
            <th>Precio</th>
            <th>Capacidad</th>
            <th>Nro_cama_sencilla</th>
            <th>Nro_cama_doble</th>
            <th>Nro_camarotes</th>
            <th>Tipo</th>
            <th>Imagen</th>
        </thead>
        <tbody>
            {% for habitacion in habitacion %}
                <tr>
                    <td>{{ habitacion.numero }}</td>
                    <td>{{ habitacion.estado }}</td>
                    <td>{{ habitacion.caracteristicas }}</td>
                    <td>{{ habitacion.costo_base }}</td>
                    <td>{{ habitacion.capacidad }}</td>
                    <td>{{ habitacion.nro_cama_sencilla }}</td>
                    <td>{{ habitacion.nro_cama_doble }}</td>
                    <td>{{ habitacion.nro_camarotes }}</td>
                    <td>{{ habitacion.tipo }}</td>
                    <td>
                        {% if habitacion.imagen %}
                            <img src="{{ habitacion.imagen.url }}" style="max-width: 100px; max-height: 100px;">
                        {% else %}
                            No hay imagen disponible
                        {% endif %}
                    </td>
                    <td><a href="/edit_habitacion/{{ habitacion.numero }}" class="btn btn-primary">Edit</a></td>
                    <td><a href="/delete_habitacion/{{ habitacion.numero }}" class="btn btn-danger">Delete</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock content %}