{% extends "base.html" %}

{% block title %}TIPO HABITACION{% endblock title %}

{% block content %}
<div class="col-md-12">
    <span><a href="/addnew_producto" class="btn btn-primary">Aregar Producto</a></span>
    <span><a href="/crud_tipoproducto" class="btn btn-primary">Ver tipo producto</a></span>
    <div class="table-responsive">
        <table id="bootstrapdatatable" class="table table-striped table-bordered" width="100%">
        <thead>
            <th>Id</th>
            <th>Nombre</th>
            <th>Costo</th>
            <th>Stock_disponible</th>
            <th>Descripcion</th>
            <th>Tipo</th>
            <th>Edit</th>
            <th>Delete  </th>

        </thead>
        <tbody>
            {% for producto in producto %}
                <tr>
                    <td>{{ producto.id }}</td>
                    <td>{{ producto.nombre }}</td>
                    <td>{{ producto.costo }}</td>
                    <td>{{ producto.stock_disponible }}</td>
                    <td>{{ producto.descripcion }}</td>
                    <td>{{ producto.id_tipo }}</td>
                    <td><a href="/edit_producto/{{ producto.id }}" class="btn btn-primary">Edit</a></td>
                    <td><a href="/delete_producto/{{ producto.id }}" class="btn btn-danger">Delete</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock content %}