{% extends "base.html" %}

{% block title %}AGREGAR Producto{% endblock title %}

{% block content %}
<div class="col-md-12">
    <form method="POST" class="post-form" action="/addnew_producto">
        {% csrf_token %}
        <div class="container">
            <div class="col-12">
            <h3>Enter Details</h3>
            </div>
            <div class="mb-3">
                <label>Id:</label>
                {{ form.id }}
            </div>
            <div class="mb-3">
                <label>nombre:</label>
                {{ form.nombre }}
            </div>
            <div class="mb-3">
                <label>costo:</label>
                {{ form.costo }}
            </div>
            <div class="mb-3">
                <label>stock_disponible:</label>
                {{ form.stock_disponible }}
            </div>
            <div class="mb-3">
                <label>descripcion:</label>
                {{ form.descripcion }}
            </div>
            <div class="mb-3">
                <label>id_tipo:</label>
                {{ form.id_tipo }}
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>
{% endblock content %}