{% extends "base.html" %}
{% block title %}USUARIOS{% endblock title %}
{% block content %}
<head>
    <link rel="stylesheet" href="../../static/tablas.css">
</head>

<section class="panel-usuarios">
    <div class="container-superior">
        <div class="container-botones">
            <span><a href="/addnew_usuario" class="btn btn-1">Aregar usuario</a></span>
            <span><a href="/crud_tipousuario" class="btn btn-2">Tipo usuario</a></span>
        </div>
        <h3>GESTIONAR USUARIOS</h3>
    </div>
    <table class="tabla-desktop" id="usuarios-table">
        <tr>
            <th>Documento</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Telefono</th>
            <th>Genero</th>
            <th>Tipo</th>
            <th>Foto</th>
            <th>Editar</th>
            <th>Borrar</th>
            <th>Reservas</th>
        </tr>
        {% for usu in usuarios %}
        <tr>
            <td>{{ usu.documento }}</td>
            <td>{{ usu.Nombre }}</td>
            <td>{{ usu.Apellido }}</td>
            <td>{{ usu.email }}</td>
            <td>{{ usu.telefono }}</td>
            <td>{{ usu.genero }}</td>
            <td>{{ usu.tipo }}</td>
            <td>
                {% if usu.foto %}
                    <img src="{{ usu.foto.url }}" alt="Foto de perfil" class="foto-perfil">
                {% else %}
                    Foto de perfil no disponible
                {% endif %}
            </td>
            <td><a href="/edit_usuario/{{ usu.documento }}" class="btn">Editar</a></td>
            <td><a href="/delete_usuario/{{ usu.documento }}" class="btn btn-red">Borrar</a></td>
            <td><a href="/reservas_x_usuario/{{ usu.documento }}" class="btn">Reservas</a></td>
        </tr>
        {% endfor %}
    </table>
</section>
{% endblock content %}