{% extends "base.html" %}

{% block title %}USUARIOS{% endblock title %}

{% block content %}
<div class="col-md-12">
    <span><a href="/addnew_usuario" class="btn btn-primary">Aregar usuario</a></span>
    <span><a href="/crud_tipousuario" class="btn btn-primary">Ver tipo usuario</a></span>
    <div class="table-responsive">
        <table id="bootstrapdatatable" class="table table-striped table-bordered" width="100%">
        <thead>
            <th><input type="checkbox" id="checkall" /></th>
            <th>Documento</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Telefono</th>
            <th>Genero</th>
            <th>Tipo</th>
            <th>Foto</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>Reservas</th>
        </thead>
        <tbody>
            {% for usu in usuarios %}
                <tr>
                <td><input type="checkbox" class="checkthis" /></td>
                <td>{{ usu.documento }}</td>
                <td>{{ usu.Nombre }}</td>
                <td>{{ usu.Apellido }}</td>
                <td>{{ usu.email }}</td>
                <td>{{ usu.telefono }}</td>
                <td>{{ usu.genero }}</td>
                <td>{{ usu.tipo }}</td>
                <td>
                    {% if usu.foto %}
                        <img src="{{ usu.foto.url }}" alt="Foto de perfil" style="max-width: 100px; max-height: 100px;">
                    {% else %}
                        Foto de perfil no disponible
                    {% endif %}
                </td>

                <td><a href="/edit_usuario/{{ usu.documento }}" class="btn btn-primary">Edit</a></td>
                <td><a href="/delete_usuario/{{ usu.documento }}" class="btn btn-danger">Delete</a></td>
                <td><a href="/reservas_x_usuario/{{ usu.documento }}" class="btn btn-primary">Reservas</a></td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</div>
{% endblock content %}