<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CYBERNEX</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <form class="d-flex flex-column align-items-center pd-8" method="POST" action="/signup">
            {% csrf_token %}
            <div class="col-12">
                <h3 class="text-center mb-4">DIGITE SU DATA</h3>
            </div>
            <div class="mb-4">
                <label>Documento:</label>
                <input type="text" class="" name="documento" id="id_documento" required maxlength="20" value="{{ usuario.documento }}"/>
            </div>
            <div class="mb-3">
                <label>Nombres:</label>
                <input type="text" class="" name="usuNombres" id="id_usuNombres" required maxlength="100" value="{{ usuario.usuNombres }}" />
            </div>
            <div class="mb-3">
                <label>Apellidos:</label>
                <input type="text" class="" name="usuApellidos" id="id_usuApellidos" required maxlength="100" value="{{ usuario.usuApellidos }}" />
            </div>
            <div class="mb-3">
                <label>Email:</label>
                <input type="text" class="" name="email" id="id_email" maxlength="100" value="{{ usuario.email }}" />
            </div>
            <div class="mb-3">
                <label>Teléfono:</label>
                <input type="text" class="" name="telefono" id="id_telefono" maxlength="15" value="{{ usuario.telefono }}" />
            </div>
            <div class="mb-3">
                <label>Género:</label>
                <input type="text" class="" name="genero" id="id_genero" maxlength="20" value="{{ usuario.genero }}" />
            </div>
            <div class="mb-3">
                <label>Estado:</label>
                <input type="text" class="" name="estado" id="id_estado" maxlength="20" value="{{ usuario.estado }}" />
            </div>
            <div class="mb-3">
                <label>Contraseña:</label>
                <input type="text" class="" name="usuContraseña" id="id_usuContraseña" required maxlength="200" value="{{ usuario.usuContraseña }}" />
            </div>
            <div class="mb-3">
                <label >ID Tipo:</label>
                <select class="" name="tipo_usuario" id="tipo_usuario" required>
                    {% for tipo_usuario in tipos_usuarios %}
                        <option value="{{ tipo_usuario.id }}" {% if tipo_usuario.id == usuario.id_tipo.pk %}selected{% endif %}>{{ tipo_usuario.rol }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label>Foto:</label>
                <input type="file" class="" name="foto" id="id_foto" />
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary btn-success">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>

