{% extends "base.html" %}

{% block title %}EDITAR Tipo de Servicio{% endblock title %}

{% block content %}
<div class="col-md-12">
    <form method="POST" class="post-form" action="{% url 'update_tiposervicio' tipo_servicio.id %}">
        {% csrf_token %}
        <div class="container">
            <div class="col-12">
                <h3>Actualizar Detalles</h3>
            </div>
            {{ form.as_p }}
            <div class="mb-3">
                <button type="submit" class="btn btn-success btn-lg">Actualizar</button>
            </div>
        </div>
    </form>
</div>
{% endblock content %}