{% extends "base.html" %}

{% block title %}EDITAR Servicio{% endblock title %}

{% block content %}
<div class="col-md-12">
    <form method="POST" class="post-form" action="/update_servicio/{{ servicio.id }}">
        {% csrf_token %}
        <div class="container">
            <div class="col-12">
                <h3>Update Details</h3>
            </div>
            <div class="mb-3">
                <label>ID:</label>
                {{ form.id }}
            </div>
            <div class="mb-3">
                <label>Nombre:</label>
                {{ form.nombre }}
            </div>
            <div class="mb-3">
                <label>Descripcion:</label>
                {{ form.descripcion }}
            </div>
            <div class="mb-3">
                <label>Costo:</label>
                {{ form.costo }}
            </div>
            <div class="mb-3">
                <label>ID Tipo:</label>
                {{ form.id_tipo }}
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-success btn-lg">Update</button>
            </div>
        </div>
    </form>
</div>
{% endblock content %}  